.form {

    &__group:not(:last-child) {
        margin-bottom: 2rem;

    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        color:inherit;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        display: block;
        border-bottom: 3px solid transparent;
        width: 90%;
        transition: all .2s;

        @include respond(tab-port) {
            width: 100%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;

        }
        //当输入不合法，显示橙色下划线
        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2
        }
    }

    

    

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top:.7rem;
        display: block;
        transition: all .3s;
    }

    //输入框为空且显示占位符，标签会被隐藏;当placeholder消失，label会重现显示出来
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
            width: 49%;
            display: inline-block;

            @include respond(tab-port) {
                width: 100%;
                margin-bottom: 2rem;
            }
            
    }

    &__radio-input {
        //不限时单选按钮（仅按钮，删除）
        display: none;
    }

    &__radio-label {
            font-size: $default-font-size;
            //鼠标变小手👆🏻
            cursor:pointer;
            position: relative;
            padding-left: 4.5rem;

    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: -.4;
        left: 0;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
        
    }
    //当 &__radio-input 被选中时（:checked 状态）：
    //在同一父元素下，选择紧跟其后的 &__radio-label。
    //然后，在 &__radio-label 内选择 &__radio-button 的 ::after 伪元素。
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;

    }
}